.layout{
    display: flex;
    /* border: 1px solid red; */
}


.window{
    flex: 1;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
}

.Wrapper-topbar {
    /* border: 1px solid blue; */
}


.content{
    flex: 1;
    /* border: 1px solid pink; */
}